numpy==1.17.1
pandas
streamlit==1.3.0
plotly.express
matplotlib
streamlit_option_menu
chart_studio
cufflinks
yfinance
mpl_finance
git+https://github.com/StreamAlpha/pynse.git
mplfinance
streamlit-analytics
streamlit-auth0-component
pyrebase4
PIL

