numpy==1.20.1
truedata_ws
pandas
streamlit
plotly.express
matplotlib
streamlit_option_menu
chart_studio
cufflinks
yfinance
mpl_finance
mplfinance
git+https://github.com/yanirs/streamlit-analytics
streamlit-auth0-component
pyrebase4
Pillow
hydralit_components
streamlit-echarts
streamlit_autorefresh
pytz
streamlit_analytics
SQLAlchemy
investpy
truedata-ws


